<div class="datepicker grid">
  <div class="header">
    <h1>Opret ny planlægger</h1>
  </div>
  <div class="content">
    <h2 class="label">Titel</h2>
    <div class="inputcontainer">
      <input type="text" ng-model="title" />
    </div>
    <div class="content-inner">
      <div class="grid">
        <h2 class="label dato">Læremiddel</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : $scope.dropDown == 'laeremiddel'}" class="dropdown_header" ng-click="$scope.dropDown = 'laeremiddel'">{{valgtLaeremiddel || "Vælg læremiddel"}}</div>
            <div ng-if="$scope.dropDown == 'laeremiddel'" ng-class="{dropdown_content : $scope.dropDown == 'laeremiddel'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="laeremiddel in laeremidler" >
                    <input id="checkfrom{{$paret.$paret.laeremiddel}}{{$index}}" type="radio" name="check" value="checkfrom{{$paret.$paret.laeremiddel}}{{$index}}" ng-checked="laeremiddel == valgtLaeremiddel">
                    <label for="checkfrom{{$paret.$paret.laeremiddel}}{{$index}}" ng-click="$parent.$parent.valgtLaeremiddel = $parent.$parent.laeremidler[$index]; $scope.dropDown = ''">{{laeremiddel}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="$scope.dropDown == 'laeremiddel'" ng-click="$scope.dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <h2 class="label dato">Niveau</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : $scope.dropDown == 'niveau'}" class="dropdown_header" ng-click="$scope.dropDown = 'niveau'">{{valgtNiveau || "Vælg niveau"}}</div>
            <div ng-if="$scope.dropDown == 'niveau'" ng-class="{dropdown_content : $scope.dropDown == 'niveau'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="niv in niveau" >
                    <input id="checkto-niv-{{$index}}" type="radio" name="check" value="checkto{{year}}{{$index}}" ng-checked="valgtNiveau == niv.Level">
                    <label for="checkto-niv-{{$index}}" ng-click="$parent.$parent.valgtNiveau = $parent.$parent.niveau[$index].Level; $scope.dropDown = ''">{{niv.Level}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="$scope.dropDown == 'niveau'" ng-click="$scope.dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <button class="btn" ng-click="createPlanner();">Opret planlægger</button>
      </div>
    </div>
  </div>
</div>