<div class="datepicker grid">
  <div class="header">
    <h1>Opret ny planlægger</h1>
  </div>
  <div class="content">
    <h2 class="label">Titel</h2>
    <div class="inputcontainer">
      <input type="text" ng-model="title" />
    </div>
    <div class="content-inner">
      <div class="grid">
        <h2 class="label dato">Læremiddel</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : $scope.dropDown == 'year'}" class="dropdown_header" ng-click="$scope.dropDown = 'year'">{{fromYear || "År"}}</div>
            <div ng-if="$scope.dropDown == 'year'" ng-class="{dropdown_content : $scope.dropDown == 'year'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="year in year" >
                    <input id="checkfrom{{$paret.$paret.year}}{{$index}}" type="radio" name="check" value="checkfrom{{$paret.$paret.year}}{{$index}}" ng-checked="fromYear == year">
                    <label for="checkfrom{{$paret.$paret.year}}{{$index}}" ng-click="$parent.$parent.fromYear = $parent.$parent.year[$index]; $scope.dropDown = ''">{{year}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="$scope.dropDown == 'year'" ng-click="$scope.dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <h2 class="label dato">Niveau</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : $scope.dropDown == 'toYear'}" class="dropdown_header" ng-click="$scope.dropDown = 'toYear'">{{toYear || "År"}}</div>
            <div ng-if="$scope.dropDown == 'toYear'" ng-class="{dropdown_content : $scope.dropDown == 'toYear'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="year in year" >
                    <input id="checkto{{year}}{{$index}}" type="radio" name="check" value="checkto{{year}}{{$index}}" ng-checked="toYear == year">
                    <label for="checkto{{year}}{{$index}}" ng-click="$parent.$parent.toYear= $parent.$parent.year[$index]; $scope.dropDown = ''">{{year}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="$scope.dropDown == 'toYear'" ng-click="$scope.dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <button class="btn" ng-click="createReport();">Opret planlægger</button>
      </div>
    </div>
  </div>
</div>