<div class="ngdialog ">
  <div class="ngdialog-content">
    <div class="create-report animate" ng-if="$root.dialog == 'create report'">
      <span class="arrow_box"></span>
      <div date-picker></div>
    </div>
    <div ng-if="$root.dialog == 'error'" class=" animate third">
      <span class="arrow_box"></span>
      <div class="error grid">
        <div class="header">
          <h1>Opret ny rapport</h1>
        </div>
        <div class="content">
          <div class="content-inner">
            <div>
              <p>
                Vil du melde en fejl eller en uhensigtsmæssighed?
                <br>
                Klik på knappen for at gå videre til vores supportformular (åbner i nyt vindue).
              </p>
              <button class="btn" ng-click="Dialog.openFormularDialog()">Åben supportformular</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$root.dialog" ng-click="Dialog.closeDialog()" class="ngdialog-overlay"></div>
</div>