<div class="reportmenu grid">
  <div class="col-3-4">
    <ul>
      <li ng-click="LogMenubar.checkInputs()">
        <span class="back circ">
          <span class="icon icon-arrow">
          </span>
        </span>
      </li>
      <li ng-click="LogMenubar.checkInputs()">{{Log.componentData.title}}</li>
    </ul>
  </div>
  <div class="icons col-1-4">
    <div class="float-right">
      <div class="circ" ng-click="LogMenubar.deleteLog()">
        <span class="icon icon-trash-bin"></span>
      </div>
      <div class="circ" ng-click="LogMenubar.saveLog()">
        <span class="icon icon-disc"></span>
      </div>
    </div>
  </div>
</div>