<div class="grid">
  <div class="col-3-4">
    <ul>
      <li ng-class="{active : $root.showSection == '/logs' || $root.showSection == '/' }" class="icon icon-logs"><a href="#/logs" >Mine logs</a></li>
      <li class="divider"> | </li>
      <li ng-class="{active : $root.showSection == '/rapporter'}" class="icon icon-reports"><a href="#/rapporter">Mine rapporter</a></li>
    </ul>
  </div>
  <div ng-if="$root.showSection == '/logs' || $root.showSection == '/'" class="icons col-1-4">
    <div class="float-right">
      <div class="circ" ng-click="go('#/log')">
        <a href="#/log">
          <span class="icon icon-plus"></span>
        </a>
      </div>
      <div ng-click="$root.filter = !$root.filter" class="circ">
        <span ng-class="{active : $root.filter }" class="icon icon-filter"></span>
      </div>
<!--  <div ng-click="Menubar.openError()" class="circ">
        <span class="icon icon-question"></span>
      </div> -->
    </div>
  </div>
  <div ng-if="$root.showSection == '/rapporter'" class="icons col-1-4">
    <div class="float-right">
      <div ng-click="Menubar.createReport()" class="circ ">
        <span ng-class="{active : $root.dialog == 'create report' }" class="icon icon-plus"></span>
      </div>
      <div ng-click="$root.filter = !$root.filter" class="circ">
        <span ng-class="{active : $root.filter }" class="icon icon-filter"></span>
      </div>
<!--  <div ng-click="Menubar.openError()" class="circ">
        <span ng-class="{active : $root.dialog == 'error' }" class="icon icon-question"></span>
      </div> -->
    </div>
  </div>
</div>

<div dialog>
</div>