/* line 13, ../sass/reset/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/reset/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/reset/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/reset/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/reset/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/reset/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_grid.scss */
.grid {
  clear: both;
  margin: 0 0 0px 0;
}
/* line 11, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 0px;
}
/* line 22, ../sass/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 26, ../sass/_grid.scss */
.col-7-8 {
  width: 87.5%;
}

/* line 29, ../sass/_grid.scss */
.col-6-8 {
  width: 75%;
}

/* line 32, ../sass/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* line 35, ../sass/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 41, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 44, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 47, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 50, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 53, ../sass/_grid.scss */
.col-2-8 {
  width: 25%;
}

/* line 56, ../sass/_grid.scss */
.col-3-8 {
  width: 37.5%;
}

/* line 59, ../sass/_grid.scss */
.col-4-8 {
  width: 50%;
}

/* line 62, ../sass/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* Opt-in outside padding */
/* line 67, ../sass/_grid.scss */
.grid-pad {
  padding: 0px 0 0px 0px;
}
/* line 69, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 0px;
}

/* line 1, ../sass/_loader.scss */
.spinner-backdrop {
  position: absolute;
  display: block;
  background-color: #E9E9E9;
  z-index: 5;
  width: 100%;
  height: 100%;
  @-webkit-keyframes bouncedelay {
    /* line 110, ../sass/_loader.scss */
    0%, 80%, 100% {
      -webkit-transform: scale(0);
    }

    /* line 111, ../sass/_loader.scss */
    40% {
      -webkit-transform: scale(1);
    }
}

  @keyframes bouncedelay {
    /* line 115, ../sass/_loader.scss */
    0%, 80%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }

    /* line 118, ../sass/_loader.scss */
    40% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
}

}
/* line 9, ../sass/_loader.scss */
.spinner-backdrop .spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  margin-left: -15px;
  top: calc(50% - 15px);
  margin-top: 9px;
}
/* line 19, ../sass/_loader.scss */
.spinner-backdrop .container1 > div, .spinner-backdrop .container2 > div, .spinner-backdrop .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 33, ../sass/_loader.scss */
.spinner-backdrop .spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 39, ../sass/_loader.scss */
.spinner-backdrop .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 44, ../sass/_loader.scss */
.spinner-backdrop .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/* line 49, ../sass/_loader.scss */
.spinner-backdrop .circle1 {
  top: 0;
  left: 0;
}
/* line 50, ../sass/_loader.scss */
.spinner-backdrop .circle2 {
  top: 0;
  right: 0;
}
/* line 51, ../sass/_loader.scss */
.spinner-backdrop .circle3 {
  right: 0;
  bottom: 0;
}
/* line 52, ../sass/_loader.scss */
.spinner-backdrop .circle4 {
  left: 0;
  bottom: 0;
}
/* line 54, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 59, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
/* line 64, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 69, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
/* line 74, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
/* line 79, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
/* line 84, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
/* line 89, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
/* line 94, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
/* line 99, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
/* line 104, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@font-face {
  font-family: "ilog";
  src: url("../fonts/ilog.eot");
  src: url("../fonts/ilog.eot?#iefix") format("embedded-opentype"), url("../fonts/ilog.woff") format("woff"), url("../fonts/ilog.ttf") format("truetype"), url("../fonts/ilog.svg#ilog") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../sass/components/_fonts.scss */
[data-icon]:before {
  font-family: "ilog" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/components/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ilog" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, ../sass/components/_fonts.scss */
.icon-bar:before {
  content: "b";
}

/* line 45, ../sass/components/_fonts.scss */
.icon-dots:before {
  content: "d";
}

/* line 48, ../sass/components/_fonts.scss */
.icon-grid:before {
  content: "g";
}

/* line 51, ../sass/components/_fonts.scss */
.icon-line:before {
  content: "h";
}

/* line 54, ../sass/components/_fonts.scss */
.icon-logs:before {
  content: "i";
}

/* line 57, ../sass/components/_fonts.scss */
.icon-piechart:before {
  content: "j";
}

/* line 60, ../sass/components/_fonts.scss */
.icon-reports:before {
  content: "o";
}

/* line 63, ../sass/components/_fonts.scss */
.icon-edit:before {
  content: "e";
}

/* line 66, ../sass/components/_fonts.scss */
.icon-trash-bin:before {
  content: "m";
}

/* line 69, ../sass/components/_fonts.scss */
.icon-speech:before {
  content: "f";
}

/* line 72, ../sass/components/_fonts.scss */
.icon-arrow:before {
  content: "a";
}

/* line 75, ../sass/components/_fonts.scss */
.icon-disc:before {
  content: "x";
}

/* line 78, ../sass/components/_fonts.scss */
.icon-mail:before {
  content: "c";
}

/* line 81, ../sass/components/_fonts.scss */
.icon-share-nocirkel:before {
  content: "q";
}

/* line 84, ../sass/components/_fonts.scss */
.icon-download:before {
  content: "r";
}

/* line 87, ../sass/components/_fonts.scss */
.icon-question:before {
  content: "n";
}

/* line 90, ../sass/components/_fonts.scss */
.icon-plus:before {
  content: "s";
}

/* line 93, ../sass/components/_fonts.scss */
.icon-filter:before {
  content: "t";
}

/* line 96, ../sass/components/_fonts.scss */
.icon-quicklook:before {
  content: "u";
}

/* line 99, ../sass/components/_fonts.scss */
.icon-share:before {
  content: "v";
}

/* line 102, ../sass/components/_fonts.scss */
.icon-triangle:before {
  content: "k";
}

/* line 105, ../sass/components/_fonts.scss */
.icon-triangle-up:before {
  content: "l";
}

/* line 1, ../sass/components/_helpers.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/components/_helpers.scss */
.float-right {
  float: right;
}

/* line 11, ../sass/components/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 15, ../sass/components/_helpers.scss */
.label {
  font-size: 14px;
  font-weight: bold;
  color: #a0a0a0;
  text-transform: uppercase;
}

/* line 22, ../sass/components/_helpers.scss */
.padding {
  padding: 25px;
}

/* line 26, ../sass/components/_helpers.scss */
.padding-top {
  padding-top: 25px;
}

/* line 30, ../sass/components/_helpers.scss */
.padding-bottom {
  padding-bottom: 25px;
}

/* line 35, ../sass/components/_helpers.scss */
.required:after {
  content: '*';
  color: #E04F2F;
}

/* line 41, ../sass/components/_helpers.scss */
input:read-only {
  background-color: #e9e9e9;
}

/* line 1, ../sass/components/_arrow.scss */
.arrow_box {
  position: relative;
}

/* line 4, ../sass/components/_arrow.scss */
.arrow_box:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  display: inline-block;
  pointer-events: none;
  border-top-color: #6c2c1e;
  border-width: 7px;
  margin-left: 10px;
  margin-bottom: -2px;
  vertical-align: middle;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 1, ../sass/pages/_logs.scss */
h1 {
  color: red;
}

/* line 5, ../sass/pages/_logs.scss */
.log-content {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  overflow: auto;
  width: 100%;
  height: calc(100% - 130px);
  height: 80% \9;
  background-color: #E9E9E9;
  padding: 40px;
}
/* line 18, ../sass/pages/_logs.scss */
.log-content .no-padding {
  padding-bottom: 0;
}
/* line 22, ../sass/pages/_logs.scss */
.log-content .inline {
  float: left;
  line-height: 35px;
  width: 225px;
  text-align: right;
  clear: both;
  margin-right: 25px;
}
/* line 30, ../sass/pages/_logs.scss */
.log-content label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
}
/* line 37, ../sass/pages/_logs.scss */
.log-content .input-field {
  padding-bottom: 25px;
}
/* line 40, ../sass/pages/_logs.scss */
.log-content .input-field:last-child {
  padding-bottom: 0;
}
/* line 45, ../sass/pages/_logs.scss */
.log-content textarea {
  border: none;
  font-size: 18px;
  padding: 20px;
}
/* line 51, ../sass/pages/_logs.scss */
.log-content input {
  border: 0;
  outline: 0;
  height: 37px;
  padding: 0 0px 0 10px;
  margin-right: 5px;
  font-size: 18px;
}
/* line 60, ../sass/pages/_logs.scss */
.log-content .dropdown {
  width: 320px;
}
/* line 64, ../sass/pages/_logs.scss */
.log-content .dropdown.dropinline {
  display: block;
  height: 40px;
}
/* line 68, ../sass/pages/_logs.scss */
.log-content .dropdown label {
  padding-bottom: 0;
}
/* line 71, ../sass/pages/_logs.scss */
.log-content .dropdown .select.selectinline {
  position: absolute;
  width: 320px;
  margin-top: -10px;
  vertical-align: top;
  margin-left: 250px;
}
/* line 79, ../sass/pages/_logs.scss */
.log-content .dropdown .select-inner {
  border-bottom: none;
}
/* line 82, ../sass/pages/_logs.scss */
.log-content .dropdown select {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  width: 300px;
  height: 35px;
  border-radius: 0;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
/* line 96, ../sass/pages/_logs.scss */
.log-content .dropdown .dropdown_header {
  border-bottom: 3px solid #383838;
  font-size: 18px;
  line-height: 37px;
  color: #383838;
}
/* line 102, ../sass/pages/_logs.scss */
.log-content .dropdown .dropdown_header.active {
  background-color: #ffffff;
  color: #383838;
}
/* line 109, ../sass/pages/_logs.scss */
.log-content .dropdown .dropdown_content {
  color: #383838;
  width: 340px;
  padding-top: 45px;
  max-height: 300px;
  overflow: auto;
}
/* line 116, ../sass/pages/_logs.scss */
.log-content .dropdown .dropdown_content label {
  font-weight: 100;
  font-size: 18px;
  padding-bottom: 0;
}
/* line 122, ../sass/pages/_logs.scss */
.log-content .dropdown .dropdown_content label.active {
  color: #e04f2f;
}
/* line 131, ../sass/pages/_logs.scss */
.log-content .dropdown-time .measure {
  display: inline-block;
  line-height: 37px;
  float: left;
  margin: 10px 20px 10px 10px;
}
/* line 137, ../sass/pages/_logs.scss */
.log-content .dropdown-time label {
  padding-bottom: 0;
}
/* line 140, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner {
  border-bottom: none;
  width: 150px;
  float: left;
  margin: 5px;
}
/* line 146, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner:first-of-type {
  margin-left: 0;
}
/* line 150, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner:last-of-type {
  margin-right: 0;
}
/* line 154, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner .dropdown_header {
  border-bottom: 3px solid #383838;
  font-size: 18px;
  color: #383838;
  line-height: 40px;
}
/* line 160, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner .dropdown_header.active {
  background-color: #ffffff;
  color: #383838;
}
/* line 166, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner.active {
  background-color: #ffffff;
  color: #383838;
}
/* line 171, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner .dropdown_content {
  color: #383838;
  width: 180px;
  padding-top: 45px;
  max-height: 300px;
  overflow: auto;
}
/* line 178, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner .dropdown_content label {
  font-weight: 100;
  font-size: 18px;
  padding-bottom: 0;
}
/* line 184, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner .dropdown_content label.active {
  color: #e04f2f;
}
/* line 189, ../sass/pages/_logs.scss */
.log-content .dropdown-time .select-inner select {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  width: 130px;
  height: 35px;
  border-radius: 0px;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px;
}
/* line 204, ../sass/pages/_logs.scss */
.log-content .dropdown-time:after {
  display: block;
  content: '';
  clear: both;
}
/* line 212, ../sass/pages/_logs.scss */
.log-content .log-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

/* line 1, ../sass/pages/_planner.scss */
.plan-content {
  position: absolute;
  background-color: #f5f5f5;
  top: 130px;
  overflow: auto;
  width: 100%;
  height: calc(100% - 130px);
  height: 80% \9;
  float: left;
}
/* line 13, ../sass/pages/_planner.scss */
.plan-content .goals {
  overflow-y: scroll;
  width: 40%;
  height: 100%;
  float: left;
  background-color: #f5f5f5;
  border-right: 1px solid #dadada;
}
/* line 23, ../sass/pages/_planner.scss */
.plan-content .courses {
  width: 30%;
  height: 100%;
  padding: 25px;
  float: left;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
/* line 31, ../sass/pages/_planner.scss */
.plan-content .courses .course-container {
  cursor: url("../images/hand.cur"), url("../images/hand.gif"), move !important;
}
/* line 36, ../sass/pages/_planner.scss */
.plan-content .courses .course-container:hover {
  color: #dc4320;
}
/* line 38, ../sass/pages/_planner.scss */
.plan-content .courses .course-container:hover.highlighted {
  color: #ffffff;
}
/* line 46, ../sass/pages/_planner.scss */
.plan-content .dropdown {
  padding-bottom: 25px;
}
/* line 49, ../sass/pages/_planner.scss */
.plan-content .selected {
  width: 30%;
  height: 100%;
  padding: 25px;
  float: left;
  background-color: #ffffff;
  -webkit-box-shadow: inset 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
/* line 59, ../sass/pages/_planner.scss */
.plan-content .selected.on-drag-hover {
  background-color: #fafafa;
}
/* line 62, ../sass/pages/_planner.scss */
.plan-content .selected.empty {
  background: url(../images/background.png) no-repeat white 48% 48%;
}
/* line 64, ../sass/pages/_planner.scss */
.plan-content .selected.empty.on-drag-hover {
  background-color: #fafafa;
}
/* line 68, ../sass/pages/_planner.scss */
.plan-content .selected .planner-title {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
/* line 75, ../sass/pages/_planner.scss */
.plan-content .selected .planner-title input[type='text'] {
  padding: 0 10px 0 10px;
  border: none;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  width: 80%;
}
/* line 85, ../sass/pages/_planner.scss */
.plan-content .selected .planner-title .icon-trash:before {
  float: right;
  font-family: ilog;
  font-size: 22px;
  content: 'D';
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}
/* line 98, ../sass/pages/_planner.scss */
.plan-content .plan-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
/* line 113, ../sass/pages/_planner.scss */
.plan-content .select-inner {
  margin: 0;
  border-bottom: 2px solid #000;
}
/* line 117, ../sass/pages/_planner.scss */
.plan-content .select-inner .dropdown_content {
  max-height: 300px;
  width: calc(30% - 20px);
  width: 28.2% \9;
  overflow: auto;
  font-size: 18px;
  margin-top: -37px;
}
/* line 125, ../sass/pages/_planner.scss */
.plan-content .select-inner .dropdown_header {
  line-height: 32px;
  font-size: 18px;
}
/* line 128, ../sass/pages/_planner.scss */
.plan-content .select-inner .dropdown_header.active {
  line-height: 43px;
  margin-top: -5px;
  margin-bottom: -6px;
  background-color: white;
}
/* line 137, ../sass/pages/_planner.scss */
.plan-content .select-inner select {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  font-size: 16px;
  width: 90px;
  height: 35px;
  border-radius: 0px;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px;
}

/* line 3, ../sass/components/_popover-container.scss */
.popover-container:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  top: 285px;
  position: relative;
  display: inline-block;
  pointer-events: none;
  border-top-color: #383838;
  border-width: 17px;
  margin-left: -32px;
  vertical-align: middle;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 19, ../sass/components/_popover-container.scss */
.popover-container .popover-inner {
  opacity: 0.95;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  position: relative;
  height: 570px;
  width: 310px;
  padding: 25px;
  background-color: white;
  border-left: solid 3px #383838;
  color: #383838;
}
/* line 31, ../sass/components/_popover-container.scss */
.popover-container .popover-inner h2 {
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
/* line 36, ../sass/components/_popover-container.scss */
.popover-container .popover-inner h3 {
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
/* line 41, ../sass/components/_popover-container.scss */
.popover-container .popover-inner .popover-head {
  padding-bottom: 25px;
  font-size: 14px;
}
/* line 47, ../sass/components/_popover-container.scss */
.popover-container .popover-inner .popover-content .popover-goal {
  font-size: 14px;
}
/* line 50, ../sass/components/_popover-container.scss */
.popover-container .popover-inner .popover-content .scope {
  padding-right: 10px;
}
/* line 53, ../sass/components/_popover-container.scss */
.popover-container .popover-inner .popover-content ul {
  padding-bottom: 25px;
  font-size: 14px;
}

/* line 3, ../sass/components/_export-dialog.scss */
.share {
  border-top: 4px solid #000;
  border-bottom: 5px solid #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* line 7, ../sass/components/_export-dialog.scss */
.share .header {
  background-color: #ffffff;
  width: 100%;
}
/* line 10, ../sass/components/_export-dialog.scss */
.share .header h1 {
  color: #383838;
  font-size: 18px;
  padding: 25px 25px;
}
/* line 16, ../sass/components/_export-dialog.scss */
.share .content {
  background-color: #e9e9e9;
}
/* line 20, ../sass/components/_export-dialog.scss */
.share .content .grid .btn {
  background-color: #dc4320;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  float: right;
  padding: 0 15px;
}

/* line 1, ../sass/components/_goal-container.scss */
.goal-container {
  cursor: default;
}
/* line 4, ../sass/components/_goal-container.scss */
.goal-container .head {
  padding: 0 25px 0 50px;
  height: 75px;
  line-height: 75px;
  background-color: #f5f5f5;
  color: #383838;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #e2e2e2;
}
/* line 17, ../sass/components/_goal-container.scss */
.goal-container .head:hover .round-arrow {
  color: #dc4320;
}
/* line 23, ../sass/components/_goal-container.scss */
.goal-container .head .check {
  color: #383838;
  position: relative;
}
/* line 27, ../sass/components/_goal-container.scss */
.goal-container .head .check:before {
  float: right;
  padding-right: 10px;
  font-size: 22px;
  font-family: ilog;
  content: "p";
}
/* line 35, ../sass/components/_goal-container.scss */
.goal-container .head .check.active:before {
  color: white;
}
/* line 42, ../sass/components/_goal-container.scss */
.goal-container .head .round-arrow {
  color: #383838;
  position: relative;
  right: 5px;
}
/* line 47, ../sass/components/_goal-container.scss */
.goal-container .head .round-arrow:before {
  float: right;
  font-size: 25;
  font-family: ilog;
  content: 'B';
}
/* line 55, ../sass/components/_goal-container.scss */
.goal-container .head .round-arrow.active:before {
  color: #ffffff;
  float: right;
  font-size: 25px;
  font-family: ilog;
  content: 'C';
  color: #383838;
}
/* line 63, ../sass/components/_goal-container.scss */
.goal-container .head .round-arrow.active:before:hover {
  color: #383838;
}
/* line 71, ../sass/components/_goal-container.scss */
.goal-container .head:hover {
  background-color: #e9e9e9;
  border: none;
}
/* line 76, ../sass/components/_goal-container.scss */
.goal-container .head.active {
  background-color: #dc4320;
  color: #ffffff;
  border: none;
}
/* line 85, ../sass/components/_goal-container.scss */
.goal-container .goal-content {
  padding: 10px 25px 10px 50px;
  line-height: 49px;
  font-size: 18px;
  color: #383838;
  background-color: white;
}
/* line 94, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-head:hover:before {
  color: #dc4320;
}
/* line 98, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-head:before {
  padding-right: 15px;
  font-size: 10px;
  font-family: ilog;
  content: 'z';
}
/* line 105, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-head.checked:after {
  color: #383838;
  font-size: 22px;
  padding-right: 10px;
  font-family: ilog;
  content: 'p';
  float: right;
}
/* line 114, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-head.active {
  color: #dc4320;
}
/* line 116, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-head.active:before {
  color: #383838;
  font-size: 10px;
  padding-right: 15px;
  content: 'w';
}
/* line 124, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content {
  padding: 10px 0px 10px 25px;
  font-size: 12px;
  line-height: 15px;
}
/* line 129, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content {
  padding-bottom: 25px;
}
/* line 131, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content:last-of-type {
  padding-bottom: 0px;
}
/* line 136, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content-elem li {
  padding-bottom: 25px;
}
/* line 138, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content-elem li:last-of-type {
  padding-bottom: 0;
}
/* line 144, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content-scope {
  float: left;
  padding-right: 15px;
  padding-top: 3px;
  font-size: 18px;
}
/* line 150, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .checked:after {
  color: #dc4320;
  padding-right: 10px;
  padding-top: 4px;
  font-family: ilog;
  font-size: 22px;
  content: 'p';
  float: right;
}
/* line 159, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content-text {
  padding-left: 25px;
  padding-right: 60px;
}
/* line 162, ../sass/components/_goal-container.scss */
.goal-container .goal-content .sub-content .sub-content-text li {
  padding-bottom: 0;
}
/* line 168, ../sass/components/_goal-container.scss */
.goal-container .custom-radio {
  float: right;
}
/* line 170, ../sass/components/_goal-container.scss */
.goal-container .custom-radio label:before {
  margin: 0;
  width: 22px;
  height: 22px;
  box-shadow: 0 0 0 2px #383838;
}

/* line 1, ../sass/components/_course-container.scss */
.course-container {
  height: 40px;
  padding-left: 15px;
  margin-bottom: 25px;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #383838;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
/* line 12, ../sass/components/_course-container.scss */
.course-container.highlighted {
  background-color: #dc4320;
  color: #ffffff;
}
/* line 15, ../sass/components/_course-container.scss */
.course-container.highlighted .course-icon:before {
  color: #ffffff !important;
}
/* line 18, ../sass/components/_course-container.scss */
.course-container.highlighted:before {
  color: #ffffff;
}
/* line 19, ../sass/components/_course-container.scss */
.course-container.highlighted:hover {
  background-color: #dc4320;
}
/* line 21, ../sass/components/_course-container.scss */
.course-container.highlighted:hover .course-icon {
  color: #ffffff;
}
/* line 24, ../sass/components/_course-container.scss */
.course-container.highlighted:hover .course-icon:before {
  color: #ffffff;
}
/* line 37, ../sass/components/_course-container.scss */
.course-container:hover {
  background-color: #ffffff;
}
/* line 39, ../sass/components/_course-container.scss */
.course-container:hover .course-icon {
  color: #dc4320;
}
/* line 43, ../sass/components/_course-container.scss */
.course-container .course-title {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
/* line 50, ../sass/components/_course-container.scss */
.course-container .course-icon {
  position: relative;
  right: 5px;
  padding-right: 5px;
  font-size: 40px;
  float: right;
}
/* line 57, ../sass/components/_course-container.scss */
.course-container .course-icon.checked:before {
  color: #dc4320;
  font-family: ilog;
  content: 'p';
  font-size: 26px;
  line-height: 40px;
}
/* line 63, ../sass/components/_course-container.scss */
.course-container .course-icon.checked:before.highlighted {
  color: #ffffff;
}
/* line 69, ../sass/components/_course-container.scss */
.course-container .icon-trash:before {
  float: right;
  font-family: ilog;
  font-size: 22px;
  content: 'D';
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}
/* line 80, ../sass/components/_course-container.scss */
.course-container .icon-trash:hover {
  color: #dc4320;
}

/* line 1, ../sass/components/_topheader.scss */
.topheader {
  height: 50px;
  padding: 0 20px;
  background-color: #383838;
}
/* line 5, ../sass/components/_topheader.scss */
.topheader h1 {
  font-size: 18px;
  line-height: 50px;
}
/* line 7, ../sass/components/_topheader.scss */
.topheader h1 .gyldendal {
  color: #e6e6e6;
}
/* line 11, ../sass/components/_topheader.scss */
.topheader h1 .ilog {
  color: #e04f2f;
}

/* line 1, ../sass/components/_toolbar.scss */
.toolbar {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 50px;
  background-color: #dc4320;
  line-height: 50px;
  float: left;
  border-top: 2px solid #b33f26;
  font-size: 18px;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 21, ../sass/components/_toolbar.scss */
.toolbar .goals {
  width: 40%;
  padding: 0 25px;
  float: left;
}
/* line 25, ../sass/components/_toolbar.scss */
.toolbar .goals .toolbar-clear {
  color: #f5f5f5;
  opacity: 0.55;
  font-size: 14px;
  cursor: pointer;
}
/* line 30, ../sass/components/_toolbar.scss */
.toolbar .goals .toolbar-clear:hover {
  color: #ffffff;
  opacity: 1;
}
/* line 34, ../sass/components/_toolbar.scss */
.toolbar .goals .toolbar-clear:before {
  vertical-align: bottom;
  padding: 5px;
  font-size: 10px;
  font-family: ilog;
  content: 'A';
  color: #f5f5f5;
  opacity: 0.55;
}
/* line 45, ../sass/components/_toolbar.scss */
.toolbar .courses {
  width: 30%;
  padding: 0 25px;
  float: left;
}
/* line 50, ../sass/components/_toolbar.scss */
.toolbar .selected {
  width: 30%;
  padding: 0 25px;
  float: left;
  font-weight: bold;
}
/* line 55, ../sass/components/_toolbar.scss */
.toolbar .selected ul {
  width: 100%;
}
/* line 57, ../sass/components/_toolbar.scss */
.toolbar .selected ul li {
  display: inline-block;
  float: left;
}
/* line 61, ../sass/components/_toolbar.scss */
.toolbar .selected ul li:last-of-type {
  float: right;
}
/* line 65, ../sass/components/_toolbar.scss */
.toolbar .selected .count {
  margin-top: 12px;
  line-height: 27px;
  height: 26px;
  width: 27px;
  background-image: url("../images/circle-01.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: top;
}

/* line 2, ../sass/components/_animation.scss */
.animate.ng-enter {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
}

/* line 11, ../sass/components/_animation.scss */
.animate.ng-enter-active {
  opacity: 1;
}

/* line 18, ../sass/components/_animation.scss */
.animate.ng-leave {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 26, ../sass/components/_animation.scss */
.animate.ng-leave-active {
  opacity: 0;
}

/* line 1, ../sass/components/_filterbar.scss */
.filterbar {
  width: 100%;
  background-color: #e04f2f;
  line-height: 75px;
  padding: 0 25px;
  float: left;
  border-top: 2px solid #b33f26;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 16, ../sass/components/_filterbar.scss */
.filterbar div {
  color: white;
}
/* line 20, ../sass/components/_filterbar.scss */
.filterbar .dateheader {
  z-index: 201;
  color: #e04f2f;
}
/* line 24, ../sass/components/_filterbar.scss */
.filterbar .dateheader.arrow_box:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-bottom: 10px;
}
/* line 30, ../sass/components/_filterbar.scss */
.filterbar .datefilter {
  margin-left: -15px;
  position: absolute;
  width: 200px;
  z-index: 200;
  padding-top: 35px;
  margin-top: -60px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* line 40, ../sass/components/_filterbar.scss */
.filterbar .datefilter .dato {
  margin-bottom: -15px;
}
/* line 43, ../sass/components/_filterbar.scss */
.filterbar .datefilter div {
  margin-bottom: -15px;
  color: #e04f2f;
}
/* line 47, ../sass/components/_filterbar.scss */
.filterbar .datefilter label {
  color: #383838;
}
/* line 50, ../sass/components/_filterbar.scss */
.filterbar .datefilter ul {
  width: 215px;
}
/* line 53, ../sass/components/_filterbar.scss */
.filterbar .datefilter ul li {
  margin-left: 15px;
  line-height: 50px;
}
/* line 56, ../sass/components/_filterbar.scss */
.filterbar .datefilter ul li:last-of-type {
  padding-bottom: 15px;
}

/* line 1, ../sass/components/_menubar.scss */
.menubar {
  width: 100%;
  padding: 5px 25px;
  background-color: white;
  height: 80px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}
/* line 16, ../sass/components/_menubar.scss */
.menubar.reportmenu {
  background-color: white;
}
/* line 19, ../sass/components/_menubar.scss */
.menubar .back {
  float: left;
  color: #BFBFBF;
  border-color: #BFBFBF;
  margin: 18px 2px;
}
/* line 24, ../sass/components/_menubar.scss */
.menubar .back [class*=" icon-"]:before {
  font-size: 38px;
  vertical-align: top;
  margin: 0;
  color: #9b9b9b;
}
/* line 32, ../sass/components/_menubar.scss */
.menubar ul {
  line-height: 70px;
  vertical-align: middle;
  display: inline-block;
}
/* line 36, ../sass/components/_menubar.scss */
.menubar ul li {
  line-height: 63px;
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
}
/* line 42, ../sass/components/_menubar.scss */
.menubar ul li.divider {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 46, ../sass/components/_menubar.scss */
.menubar ul li.report-interval {
  padding-left: 10px;
  font-size: 18px;
  color: #969696;
  vertical-align: baseline;
}
/* line 55, ../sass/components/_menubar.scss */
.menubar ul [class^="icon-"]:before, .menubar ul [class*=" icon-"]:before {
  margin: 0 10px 0 0px;
  font-size: 20px;
  vertical-align: middle;
}
/* line 61, ../sass/components/_menubar.scss */
.menubar ul [class^="icon-"]:before, .menubar ul [class*=" icon-"]:hover:before {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #e04f2f;
  border-color: #e04f2f;
}
/* line 72, ../sass/components/_menubar.scss */
.menubar .share .content {
  padding: 25px 25px;
}
/* line 76, ../sass/components/_menubar.scss */
.menubar .share .content .label {
  font-size: 14px;
  font-weight: bold;
  color: #a0a0a0;
  text-transform: uppercase;
}
/* line 82, ../sass/components/_menubar.scss */
.menubar .share .content select {
  font-size: 18px;
}
/* line 85, ../sass/components/_menubar.scss */
.menubar .share .content .btn {
  font-size: 18px;
  margin-top: 5px;
}
/* line 91, ../sass/components/_menubar.scss */
.menubar .share ul {
  padding: 0 25px;
}
/* line 93, ../sass/components/_menubar.scss */
.menubar .share ul li:hover {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #e04f2f;
}
/* line 101, ../sass/components/_menubar.scss */
.menubar .share ul li {
  font-size: 18px;
}
/* line 105, ../sass/components/_menubar.scss */
.menubar .share ul [class^="icon-"]:before, .menubar .share ul [class*=" icon-"]:before {
  margin: 0 10px 0 20px;
  font-size: 20px;
  vertical-align: middle;
}
/* line 110, ../sass/components/_menubar.scss */
.menubar .share ul [class^="icon-"]:before, .menubar .share ul [class*=" icon-"]:first-of-type:before {
  margin-left: 0px;
}
/* line 116, ../sass/components/_menubar.scss */
.menubar .icons {
  height: 75px;
  float: right;
  display: inline-block;
  vertical-align: middle;
}
/* line 125, ../sass/components/_menubar.scss */
.menubar .circ:last-of-type {
  margin-right: 0px;
}
/* line 128, ../sass/components/_menubar.scss */
.menubar .circ.back {
  margin-right: 15px;
}
/* line 132, ../sass/components/_menubar.scss */
.menubar .report-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

/* line 149, ../sass/components/_menubar.scss */
[class^="icon-"]:hover a,
[class*=" icon-"]:hover a {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #e04f2f;
}

/* line 1, ../sass/components/_list.scss */
.list {
  position: absolute;
  background-color: #f5f5f5;
  top: 150px;
  overflow: auto;
  width: 100%;
  height: calc(100% - 200px);
  height: 80% \9;
  float: left;
  font-size: 14px;
  transition: top 0.2s;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
}
/* line 15, ../sass/components/_list.scss */
.list.no-filter {
  top: 87px;
  height: calc(100% - 137px);
  height: 80% \9;
  transition: top 0.2s;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
}
/* line 26, ../sass/components/_list.scss */
.list .listheader {
  line-height: 50px;
  padding: 0 25px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid #c8c8c8;
  font-size: 18px;
}
/* line 35, ../sass/components/_list.scss */
.list .listheader .active:after {
  border-top-color: #e04f2f;
}
/* line 41, ../sass/components/_list.scss */
.list .listheader .reverse:after {
  margin-right: 14px;
  margin-bottom: 10px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 48, ../sass/components/_list.scss */
.list .listheader span {
  cursor: pointer;
}
/* line 51, ../sass/components/_list.scss */
.list .listheader span:hover {
  color: #e04f2f;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 59, ../sass/components/_list.scss */
.list .listitem {
  padding: 0 25px;
  cursor: pointer;
  line-height: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  float: left;
}
/* line 69, ../sass/components/_list.scss */
.list .listitem .title:hover {
  text-decoration: underline;
}
/* line 72, ../sass/components/_list.scss */
.list .listitem .date {
  font-weight: bold;
}
/* line 75, ../sass/components/_list.scss */
.list .listitem .circ {
  margin: 15px 5px;
  width: 25px;
  line-height: 20px;
  height: 25px;
  vertical-align: top;
}
/* line 83, ../sass/components/_list.scss */
.list .listitem .circ span {
  line-height: 20px;
  font-size: 12px;
}
/* line 89, ../sass/components/_list.scss */
.list .listitem .circ [class^="icon-"]:before,
.list .listitem .circ [class*=" icon-"]:before {
  line-height: 22px;
  font-size: 26px;
}
/* line 96, ../sass/components/_list.scss */
.list .no-list-items {
  color: #999999;
  padding-top: 220px;
  font-size: 24px;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  line-height: 49px;
  text-align: center;
}

/* line 3, ../sass/components/_circle-icons.scss */
.circ {
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 17px 1px;
  margin-right: 15px;
  line-height: 35px;
  display: inline-block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 19, ../sass/components/_circle-icons.scss */
.circ [class^="icon-"]:before,
.circ [class*=" icon-"]:before {
  line-height: 33px;
  font-size: 36px;
  color: #383838;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 29, ../sass/components/_circle-icons.scss */
.circ:hover {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #e04f2f;
  border-color: #e04f2f;
}
/* line 37, ../sass/components/_circle-icons.scss */
.circ:hover [class^="icon-"]:before,
.circ:hover [class*=" icon-"]:before {
  color: #e04f2f;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 46, ../sass/components/_circle-icons.scss */
.circ span {
  line-height: 35px;
}

/* line 1, ../sass/components/_custom-checkbox.scss */
.custom-radio {
  margin-left: 0px;
}
/* line 3, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=radio] {
  display: none;
}
/* line 6, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=checkbox] {
  display: none;
}
/* line 9, ../sass/components/_custom-checkbox.scss */
.custom-radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  left: 0;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 1px #383838;
  vertical-align: text-top;
  box-sizing: border-box;
}
/* line 23, ../sass/components/_custom-checkbox.scss */
.custom-radio label {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
/* line 29, ../sass/components/_custom-checkbox.scss */
.custom-radio label:hover:before {
  background-color: #9b9b9b;
}
/* line 34, ../sass/components/_custom-checkbox.scss */
.custom-radio label:before {
  border-radius: 50%;
}
/* line 39, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=radio]:checked + label:before {
  content: "";
  background-color: #e04f2f;
  text-align: center;
  line-height: 15px;
}
/* line 45, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=checkbox]:checked + label:before {
  content: "";
  background-color: #e04f2f;
  text-align: center;
  line-height: 15px;
}

/* line 54, ../sass/components/_custom-checkbox.scss */
.custom-checkbox input[type=checkbox] {
  display: none;
}
/* line 58, ../sass/components/_custom-checkbox.scss */
.custom-checkbox label:before {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border: 4px solid white;
  margin-bottom: 0px;
  content: " ";
}
/* line 70, ../sass/components/_custom-checkbox.scss */
.custom-checkbox input[type=checkbox]:checked + label:before {
  content: " ";
  background-color: #dc4320;
  display: block;
}

/* line 1, ../sass/components/_buttons.scss */
.btn {
  background-color: #e04f2f;
  border: none;
  padding: 10px 10px;
  outline: 0;
  cursor: pointer;
  margin: 0;
  color: #FFF;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
}
/* line 11, ../sass/components/_buttons.scss */
.btn.btn:hover {
  background-color: #BF472C;
}
/* line 19, ../sass/components/_buttons.scss */
.btn.btn:disabled {
  background-color: #f3f3f3;
  color: black;
}

/* line 4, ../sass/directives/_dialog.scss */
.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/directives/_dialog.scss */
.ngdialog {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
}
/* line 14, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content {
  z-index: 1000;
  position: absolute;
  left: calc(100% - 424px);
  left: 57% \9;
  width: 400px;
  -webkit-backface-visibility: hidden;
  float: right;
  top: 64px;
  text-align: left;
}
/* line 25, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content .create-report .arrow_box:after {
  border-top-color: transparent;
  border-bottom-color: #000000;
  margin-top: -2px;
  left: 310px;
  position: relative;
}
/* line 34, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content .export-plan .arrow_box:after {
  border-top-color: transparent;
  border-bottom-color: #000000;
  margin-top: -2px;
  left: 350px;
  position: relative;
}
/* line 42, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content.export-dialog {
  left: calc(100% - 410px);
  right: 12px \9;
  z-index: 1000;
  position: absolute;
  width: 400px;
  -webkit-backface-visibility: hidden;
  float: right;
  top: 64px;
  text-align: left;
}
/* line 56, ../sass/directives/_dialog.scss */
.ngdialog .third .arrow_box:after {
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  margin-top: -2px;
  left: 367px;
  position: relative;
}
/* line 65, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

/* line 3, ../sass/directives/_datepicker.scss */
.datepicker, .error {
  border-top: 4px solid #000;
  border-bottom: 5px solid #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* line 7, ../sass/directives/_datepicker.scss */
.datepicker .header, .error .header {
  background-color: #ffffff;
  width: 100%;
}
/* line 10, ../sass/directives/_datepicker.scss */
.datepicker .header h1, .error .header h1 {
  color: #000000;
  font-size: 24px;
  padding: 20px 25px;
}
/* line 16, ../sass/directives/_datepicker.scss */
.datepicker .content, .error .content {
  background-color: #e9e9e9;
}
/* line 18, ../sass/directives/_datepicker.scss */
.datepicker .content h2, .error .content h2 {
  padding: 25px 0px 15px 25px;
}
/* line 20, ../sass/directives/_datepicker.scss */
.datepicker .content h2.dato, .error .content h2.dato {
  padding: 25px 0px 0px 25px;
}
/* line 24, ../sass/directives/_datepicker.scss */
.datepicker .content .inputcontainer, .datepicker .content .content-inner, .error .content .inputcontainer, .error .content .content-inner {
  overflow: auto;
  padding: 0 25px;
}
/* line 28, ../sass/directives/_datepicker.scss */
.datepicker .content .inputcontainer input, .datepicker .content .content-inner input, .error .content .inputcontainer input, .error .content .content-inner input {
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 18px;
  outline: 0;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 10px;
  border: 0;
}
/* line 39, ../sass/directives/_datepicker.scss */
.datepicker .content .select, .error .content .select {
  width: 100%;
}
/* line 45, ../sass/directives/_datepicker.scss */
.datepicker .content .grid h2, .error .content .grid h2 {
  padding-left: 0;
}
/* line 49, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3, .error .content .grid .col-1-3 {
  padding: 10px;
}
/* line 51, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3 span, .error .content .grid .col-1-3 span {
  width: 75%;
  float: left;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: 0;
  line-height: 40px;
  background-color: #ffffff;
  font-weight: bold;
}
/* line 61, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3 span.first, .error .content .grid .col-1-3 span.first {
  width: 50%;
}
/* line 65, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3 input, .error .content .grid .col-1-3 input {
  outline: 0;
  width: 25%;
  height: 40px;
  padding: 0;
  border: 0;
}
/* line 71, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3 input.first, .error .content .grid .col-1-3 input.first {
  width: 50%;
}
/* line 75, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3 input:focus, .error .content .grid .col-1-3 input:focus {
  outline: 0;
}
/* line 80, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3:first-of-type, .error .content .grid .col-1-3:first-of-type {
  padding-left: 0;
}
/* line 84, ../sass/directives/_datepicker.scss */
.datepicker .content .grid .col-1-3:last-of-type, .error .content .grid .col-1-3:last-of-type {
  padding-right: 0;
}
/* line 91, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner, .error .content .select-inner {
  margin: 0;
  border-bottom: 2px solid #000;
}
/* line 95, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner .dropdown_content, .error .content .select-inner .dropdown_content {
  max-height: 200px;
  width: 380px;
  overflow: auto;
  font-size: 18px;
}
/* line 101, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner .dropdown_header, .error .content .select-inner .dropdown_header {
  line-height: 32px;
  font-size: 18px;
}
/* line 104, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner .dropdown_header.active, .error .content .select-inner .dropdown_header.active {
  line-height: 43px;
  background-color: white;
}
/* line 109, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner select, .error .content .select-inner select {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  font-size: 16px;
  width: 90px;
  height: 35px;
  border-radius: 0px;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px;
}
/* line 131, ../sass/directives/_datepicker.scss */
.datepicker .content .btn, .error .content .btn {
  background-color: #dc4320;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 18px;
  margin: 25px 0;
  float: right;
}
/* line 139, ../sass/directives/_datepicker.scss */
.datepicker .datepicker-overlay, .error .datepicker-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

/* line 1, ../sass/components/_dropdown.scss */
.select-inner {
  border-bottom: 3px solid #000;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 11, ../sass/components/_dropdown.scss */
.select-inner.left {
  margin-left: 0px;
}
/* line 15, ../sass/components/_dropdown.scss */
.select-inner.right {
  margin-right: 0px;
}
/* line 19, ../sass/components/_dropdown.scss */
.select-inner .dropdown_header {
  width: 100%;
  display: inline-block;
  position: relative;
  display: inline-block;
  line-height: 35px;
  cursor: pointer;
}
/* line 27, ../sass/components/_dropdown.scss */
.select-inner .dropdown_header:after {
  font-family: "ilog" !important;
  display: inline-block;
  content: "w";
  float: right;
  font-size: 12px;
}
/* line 35, ../sass/components/_dropdown.scss */
.select-inner .dropdown_header.active {
  z-index: 201;
}
/* line 38, ../sass/components/_dropdown.scss */
.select-inner .dropdown_header.active:after {
  font-family: "ilog" !important;
  content: "y";
  font-size: 12px;
}
/* line 46, ../sass/components/_dropdown.scss */
.select-inner .dropdown_content {
  margin-left: -15px;
  position: absolute;
  width: 141px;
  z-index: 200;
  padding-top: 30px;
  margin-top: -43px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* line 56, ../sass/components/_dropdown.scss */
.select-inner .dropdown_content div {
  margin-bottom: -15px;
  color: #e04f2f;
}
/* line 60, ../sass/components/_dropdown.scss */
.select-inner .dropdown_content label {
  color: #383838;
  font-size: 18px;
}
/* line 65, ../sass/components/_dropdown.scss */
.select-inner .dropdown_content ul li {
  margin-left: 16px;
  line-height: 50px;
}
/* line 68, ../sass/components/_dropdown.scss */
.select-inner .dropdown_content ul li:last-of-type {
  padding-bottom: 15px;
}

/* line 36, ../sass/main.scss */
body {
  background-color: #E9E9E9;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  overflow: hidden;
}

/* line 42, ../sass/main.scss */
.collapsable {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  height: 7px;
  margin-bottom: -3px;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  /*  .arrow_box{
      opacity: 0;
      transition:        opacity 0.2s;
      -webkit-transition:opacity 0.2s;
      -moz-transition:   opacity 0.2s;
      -o-transition:     opacity 0.2s;
    }*/
}

/* line 61, ../sass/main.scss */
.collapsable.showme {
  height: 75px;
  line-height: 70px;
  clear: both;
}
/* line 65, ../sass/main.scss */
.collapsable.showme .arrow_box {
  cursor: pointer;
  opacity: 1;
}

/* line 71, ../sass/main.scss */
h2 {
  font-size: 30px;
}

/* line 75, ../sass/main.scss */
a {
  color: #383838;
  text-decoration: none;
}

/* line 80, ../sass/main.scss */
.active {
  color: #e04f2f;
}
/* line 81, ../sass/main.scss */
.active[class*=" icon-"]:before, .active a {
  color: #e04f2f;
}
