.animate {
  &.ng-enter{
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0;
  }


}
  .animate {
    &.ng-enter-active {
      opacity: 1;
    }

  }

.animate {
  &.ng-leave {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }


}
  .animate{
    &.ng-leave-active{
    opacity:0;
  }

}