.btn{
  background-color: $backgroundcolor-orange;
  border: none;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  margin: 0;
  color: #FFF;
  @include transition(all);

  &.btn:hover{
    background-color: #BF472C;
  }

  &.btn:active{

  }

  &.btn:disabled{
    background-color: #f3f3f3;
    color: black;
  }
}