.course-container{
  height: 40px;
  padding-left: 15px;
  margin-bottom: 25px;
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #383838;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);


  &:hover{
    background-color: #ffffff;
    .course-icon{
      color: #dc4320;
    }
  }
  .course-title{
  }
  .course-icon{
    position: relative;
    right: 5px;
    padding-right: 5px;
    font-size: 40px;
    float: right;
    &.checked:before{
      color: #dc4320;
      font-family: ilog;
      content: 'p';
      font-size: 26px;
      line-height: 40px;
    }
  }
  .icon-trash:before {
    float: right;
    font-family: ilog;
    font-size: 22px;
    content: 'D';
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
  }
}
