.select-inner {
  border-bottom: 3px solid #000;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.left{
    margin-left: 0px;
  }

  &.right{
    margin-right: 0px;
  }

  .dropdown_header {
    width: 100%;
    display: inline-block;
    position: relative;
    display: inline-block;
    line-height: 35px;
    cursor: pointer;

    &:after{
      font-family: "ilog" !important;
      display: inline-block;
      content: "k";
      float: right;
      font-size: 12px;
    }

    &.active{
      z-index: 201;

      &:after{
        font-family: "ilog" !important;
        content: "l";
        font-size: 12px;
      }
    }
  }

  .dropdown_content {
    margin-left: -15px;
    position: absolute;
    width: 141px;
    z-index: 200;
    padding-top: 30px;
    margin-top: -43px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    div {
      margin-bottom: -15px;
      color: $font-color-orange;
    }
    label {
      color: #383838;
      font-size: 18px;
    }
    ul {
      li {
        margin-left: 16px;
        line-height: 50px;
        &:last-of-type {
          padding-bottom: 15px;
        }
        h1 {

        }
      }
    }
  }
}