.filterbar{
  width: 100%;
  background-color: #e04f2f;
  line-height: 75px;
  padding: $base-padding;
  float:left;
  border-top: 2px solid #b33f26;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  div{
    color: white;
  }

  .dateheader{
    z-index: 201;
    color: $font-color-orange;

    &.arrow_box:after{
      @include transform(rotate(-180deg));
      margin-bottom: 10px;
    }
  }

  .datefilter{
    margin-left: -15px;
    position: absolute;
    width: 200px;
    z-index: 200;
    padding-top: 35px;
    margin-top: -60px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    .dato{
      margin-bottom: -15px;
    }
    div{
      margin-bottom: -15px;
      color: $font-color-orange;
    }
    label{
      color: #383838;
    }
    ul{

      width: 215px;
      li{
        margin-left: 15px;
        line-height: 50px;
        &:last-of-type{
          padding-bottom: 15px;
        }
        h1{

        }
      }
    }
  }
}