//fonts
$font-color-light: #e6e6e6;
$font-color-orange: #e04f2f;
$font-color-dark: #383838;

//bgs
$backgroundcolor-dark : #383838;
$backgroundcolor-white: #ffffff;
$backgroundcolor-orange: #e04f2f;

//vars
//base padding
$base-padding : 0 25px;