.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  .ngdialog-content {
    z-index: 1000;
    position: absolute;
    left: calc(100% - 424px);
    left: 57% \9;// needs better IE8 fix
    width: 400px;
    -webkit-backface-visibility: hidden;
    float: right;
    top: 64px;
    text-align: left;
    .create-report{
      .arrow_box:after{
        border-top-color: transparent;
        border-bottom-color: #000000;
        margin-top: -2px;
        left: 310px;
        position: relative;
      }
    }

  }

  .third{
    .arrow_box:after{
      border-top-color: rgba(0, 0, 0, 0);
      border-bottom-color: #000;
      margin-top: -2px;
      left: 367px;
      position: relative;
    }
  }

  .ngdialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;

  }
}

