.report{
  background-color: #FFF;

  .reportmenu{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 6;
  }
  .reportsubmenu{
    padding: $base-padding;
    line-height: 50px;
    height: 50px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 5;

    .report-type{
      float: left;
      cursor: pointer;
      padding-right: 20px;
      .icon{
        &:before{
          vertical-align: middle;
          margin: 0 5px 0 0px;
          font-size: 20px;
        }
      }
    }
  }
  .report-content{
    overflow: auto;
    width: 100%;
    height: calc(100% - 180px); // not supported in IE8
    height: 80% \9;
    position: absolute;
    background-color: white;

    .d3container{
      width:100%;
      height:530px;
    }
  }
  .listview{
    width: 100%;
    padding: 30px 40px;
    box-shadow: 0px 2px 6px white;

    span:first-of-type{
      z-index: 1;
      padding-right: 1px;
      border-right: 2px solid #383838;
    }
    span {
      color: #383838;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      text-transform: capitalize;
      border-right: 1px solid #E5E5E5;
      min-height: 40px;
      line-height: 40px;
      box-sizing: content-box;
      text-overflow: ellipsis;
    }
    span.calc{
      color: #e04f2f;
    }


  }

  .list-content{
    z-index: 0;
    border-bottom: 1px solid #E5E5E5;
    margin-top: -1px;
    &:last-of-type{
      border-bottom: none;

    }
    span.first{
      width: 25%;
      float:left;
      font-size: 18px;
      color: #bfbfbf;
      text-align: right;
      padding-right: 20px;
      margin-left: -19px;
    }

    span.calc{
      color: #e04f2f;
      font-size: 14px;
      text-align: right;
    }

    span{
      margin-top: 1px;
      margin-bottom: -1px;
    }

  }


  .list-head{
    border-bottom: 2px solid #383838;

    span{
      color: #383838;
      font-weight: bold;
    }
    span.first{
      width: 25%;
      float:left;
    }
  }
  .chart-calc{
    padding: 30px 40px 145px 40px;

    .chart-calc-element{
      padding-top: 35px;
      &:first-of-type{
        padding-top: 30px;
      }
      :first-child{
        font-size: 18px;
        padding-bottom: 10px;
      }
      :last-child{
        font-size: 36px;
      }
    }
  }
  .bar-value{
    font-size: 18px;
    color: $font-color-orange;
  }
  .bar-label{
    font-size: 14px;
  }
  .domain-text{
    font-size: 24px;
  }
  .dot-label{
    font-size: 14px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #e5e5e5;
    stroke-width: 2;
    //shape-rendering: crispEdges;

  }

  .legend {
    top: 61px;
    overflow: visible;
    position: relative;

    .legend-head {
      font-size: 36px;
    }
    .legend-text  {

      font-size: 24px;
    }
    .legend-percent {
      font-size: 24px;

      font-weight: bold;
    }

  }
}
