<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">

  <title></title>
</head>
<body>
<button id='copy_button' data-clipboard-target='table' class='btn'>Kopier til udklipsholder</button>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
<script type="text/javascript">
  var client = new ZeroClipboard( document.getElementById('copy_button') );
  ZeroClipboard.config(
          {
            swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"//,
          } );

  client.on( 'ready', function(event) {

    client.on( 'copy', function(event) {

      event.clipboardData.setData('text/plain', event.relatedTarget.outerHTML);
    } );

    client.on('aftercopy', function(event) {
      // Check if copied text is not empty
      if (event.data["text/plain"]) {
        // Chang button text on successful copying
        event.target.innerHTML = "Forløbene er nu kopieret";
      }
    });

  } );
  window.onload = function() {

    if (opener && opener.myFunc && document) {
      opener.myFunc(document);
    }
  }
</script>
</body>
</html>