<div ng-controller="MenubarCtrl as Menubar" class="menubar" ng-include="'scripts/templates/menubar.html'"></div>
<div ng-controller="FilterbarCtrl as Filterbar" class="filterbar collapsable" ng-class="{'showme': $root.filter}" ng-include="'scripts/templates/filterbar.html'"></div>

<div class="list" ng-class="{'no-filter': !$root.filter}" scroll>
    <div class="listheader">
      <div class="col-1-8">
        <span  ng-class="{active : Overview.predicate == 'created', arrow_box : Overview.predicate == 'created', reverse : reverse}" ng-click="Overview.predicate = 'created'; reverse = dateReverse; dateReverse=!dateReverse; idReverse=false">Dato</span>
      </div>
      <div class="col-2-8">
        <span  ng-class="{active : Overview.predicate == 'title', arrow_box : Overview.predicate == 'title', reverse : reverse}" ng-click="Overview.predicate = 'title'; reverse = idReverse; idReverse=!idReverse; dateReverse = false">Titel</span>
      </div>
      <div class="col-2-8" >
        <span>Læremiddel</span>
      </div>
      <div class="col-3-8" >
        <span>Niveau</span>
      </div>
    </div>

    <!--item in logs-->
    <div class="listitem animate" ng-repeat="entry in Overview.entries | logRange:Overview.filterRange |orderBy:Overview.predicate:!reverse">
        <span class="col-1-8">
          <span class="date" ng-class="{active : Overview.predicate == 'created'}">{{entry.created * 1000 | date:'dd-MM-yyyy'}}</span> <!--multiply with 1000 to get convert from unix time-->
        </span>
        <span  class="col-2-8" ng-class="{'active' : Overview.predicate == 'title'}">
          <span class="title" ng-click="Overview.goToPlanner(entry.objectID)">{{entry.title}}</span>
        </span>
        <span class="col-2-8">
          {{entry.subjects[0]}}
        </span>
        <span class="col-2-8">
          {{entry.levels[0]}}
        </span>
        <span class="col-1-8">
          <div class="float-right">
              <span class="circ" ng-click="Overview.goToPlanner(entry.objectID)">
                <span class="icon icon-edit"></span>
              </span>
            <span class="circ">
              <span class="icon icon-trash-bin" ng-click="Overview.deletePlanner(entry.objectID)"></span>
            </span>
          </div>
        </span>
    </div>
    <div class="no-list-items" ng-hide="Overview.entries">
      <ul>
        <li>Der er ikke oprettet nogen planlæggere.</li>
        <li>Klik på plusset i øverste højre hjørne for at tilføje en ny planlægger</li>
      </ul>
    </div>
</div>
