<div ng-controller="PlanMenubarCtrl as PlanMenubar" class="menubar" ng-include="'scripts/templates/planmenubar.html'"></div>

<div ng-controller="ToolbarCtrl as Toolbar" class="toolbar">
  <div class="goals">
    <span class="toolbar-head">Mål</span>
    <span class="float-right toolbar-clear">Ryd alle</span>
  </div>
  <div class="courses">
    <span class="toolbar-head">Forløb</span>

  </div>
  <div class="selected">
    <ul>
      <li class="toolbar-head">Dine valgte forløb</li>
      <li>
        <span class="count">6</span>
      </li>
    </ul>
   <!-- <span class="toolbar-head">Dine valgte forløb</span>
    <span class="count float-right">6</span>-->
  </div>
</div>


<div class="plan-content">
  <div class="goals">
  </div>

  <div class="courses">

    <div class="dropdown level">
      <div class="select">
        <div class="select-inner">
          <div ng-class="{active : Plan.dropDown == 'level'}" class="dropdown_header" ng-click="Plan.dropDown = 'level'">{{selectedLevel || "Alle klassetrin"}}</div>
          <div ng-if="Plan.dropDown == 'level'" ng-class="{dropdown_content : Plan.dropDown == 'level'}" class="animate col-1-8">
            <ul>
              <li>
                <div class="custom-radio" ng-repeat="option in Plan.levels" >
                  <input id="level-dropdown{{$index}}" type="radio" name="check" value="Plan-checkfrom-{{input.id}}{{$index}}" ng-checked="selectedLevel == option">
                  <label for="level-dropdown{{$index}}" ng-click="selectedLevel = Plan.levels[$index]; Plan.dropDown = ''">{{option}}</label>
                </div>
              </li>
            </ul>
          </div>
          <div ng-show="Plan.dropDown == 'level'" ng-click="Plan.dropDown =''" class="plan-overlay"></div>
        </div>
      </div>
    </div>
    <div class="dropdown course">
      <div class="select">
        <div class="select-inner">
          <div ng-class="{active : Plan.dropDown == 'course'}" class="dropdown_header" ng-click="Plan.dropDown = 'course'">{{selectedCourse || "Alle forløb"}}</div>
          <div ng-if="Plan.dropDown == 'course'" ng-class="{dropdown_content : Plan.dropDown == 'course'}" class="animate col-1-8">
            <ul>
              <li>
                <div class="custom-radio" ng-repeat="option in Plan.courses" >
                  <input id="course-dropdown{{$index}}" type="radio" name="check" value="Plan-checkfrom-{{input.id}}{{$index}}" ng-checked="selectedCourse == option">
                  <label for="course-dropdown{{$index}}" ng-click="selectedCourse = Plan.courses[$index]; Plan.dropDown = ''">{{option}}</label>
                </div>
              </li>
            </ul>
          </div>
          <div ng-show="Plan.dropDown == 'course'" ng-click="Plan.dropDown =''" class="plan-overlay"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="selected">
  </div>
</div>