<div ng-controller="PlanMenubarCtrl as PlanMenubar" class="menubar" ng-include="'scripts/templates/planmenubar.html'"></div>

<div ng-controller="ToolbarCtrl as Toolbar" class="toolbar" ng-style="{'background-color': $root.baseColor}">
  <div class="goals">
    <span class="toolbar-head">Færdigheds- og vidensmål</span>
    <span class="float-right toolbar-clear" ng-click="Toolbar.clearAll()">Ryd alle</span>
  </div>
  <div class="courses">
    <span class="toolbar-head">Forløb</span>

  </div>
  <div class="selected">
    <ul>
      <li class="toolbar-head">Dine valgte forløb</li>
      <li>
        <div class="count">{{Plan.selected.length}}</div>
      </li>
    </ul>
   <!-- <span class="toolbar-head">Dine valgte forløb</span>
    <span class="count float-right">6</span>-->
  </div>
</div>


<div class="plan-content">
  <div class="goals">
    <div class="goal-container"  ng-repeat="elem in Plan.plandata.planlaegger.kompetenceomraader.kompetenceomraade">
      <div class="head" ng-click="elem.activeGoal = !elem.activeGoal; Plan.activeSubGoal = '';" ng-class="{active: elem.activeGoal == true}">
        <span class="goal-title" title="{{elem.value}}">{{elem.value}}</span>
        <span class="round-arrow" ng-class="{active: elem.activeGoal == true}"></span>
        <span ng-class="{check: elem.checked == true}"></span>

      </div>
      <div class="goal-content" ng-show="elem.activeGoal == true">
        <ul>
          <li  ng-repeat="subelem in elem.faerdighedsOgVidensmaalPLURALIS.faerdighedsOgvidensmaalSINGULARIS">
            <div class="custom-radio">
              <input id="{{subelem.id}}" type="checkbox" name="check" ng-model="subelem.Selected" />
              <label for="{{subelem.id}}" ng-click="Plan.highlight(subelem.id, true, subelem); !subelem.Selected; Plan.toggleSubelements(subelem)"></label>
            </div>

            <div class="sub-head" ng-class="{'active': subelem.activeSubGoal, 'checked': Plan.checkList[subelem.id]}" ng-click="subelem.activeSubGoal = !subelem.activeSubGoal">
              {{subelem.value}}
            </div>

            <div class="sub-content" ng-show="subelem.activeSubGoal == true">
              <ul class="sub-content-elem">
                <li
                        ns-popover
                        ns-popover-timeout="0"
                        ns-popover-template="goal-popover"
                        ns-popover-trigger="mouseover"
                        ns-popover-placement="right|center"

                        ng-repeat="subsubelem in subelem.faser.fase" ng-mouseover="Plan.setPopoverPos($event, 40)">
                  <div class="sub-content-scope">{{subsubelem.scope}}</div>
                  <div class="custom-radio">
                    <input id="{{subelem.id}}{{$index}}" type="checkbox" name="check" ng-model="subsubelem.Selected" >
                    <label for="{{subelem.id}}{{$index}}" ng-click="Plan.highlight(subelem.id + subsubelem.scope, false, subelem); !subsubelem.Selected"></label>
                  </div>
                  <div ng-class="{checked: subsubelem.checked}"></div>
                  <ul class="sub-content-text" ng-mouseover="Plan.setPopoverGoals(subelem.id, subsubelem.scope)">
                    <li>{{subsubelem.faerdighedsmaal}}</li>
                    <li>{{subsubelem.vidensmaal}}</li>
                  </ul>

                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="courses">


    <div class="dropdown course">
      <div class="select">
        <div class="select-inner">
          <div ng-class="{active : Plan.dropDown == 'course'}" class="dropdown_header" ng-click="Plan.dropDown = 'course'">{{Plan.selectedCourse.value || "Alle forløb"}}</div>
          <div ng-if="Plan.dropDown == 'course'" ng-class="{dropdown_content : Plan.dropDown == 'course'}" class="animate col-1-8">
            <ul>
              <li>
                <div class="custom-radio" >
                  <input id="course-dropdown-all" type="radio" name="check" value="" ng-checked="Plan.selectedCourse == 'Alle forløb'">
                  <label for="course-dropdown-all" ng-click="Plan.selectedCourse = 'Alle forløb'; Plan.sortCourses(); Plan.dropDown = ''">Alle forløb</label>
                </div>
                <div class="custom-radio" ng-repeat="option in Plan.topics" >
                  <input id="course-dropdown{{$index}}" type="radio" name="check" value="Plan-checkfrom-{{input.id}}{{$index}}" ng-checked="Plan.selectedCourse == option">
                  <label for="course-dropdown{{$index}}" ng-click="Plan.selectedCourse = Plan.topics[$index]; Plan.sortCourses(); Plan.dropDown = ''">{{option.value}}</label>
                </div>
              </li>
            </ul>
          </div>
          <div ng-show="Plan.dropDown == 'course'" ng-click="Plan.dropDown =''" class="plan-overlay"></div>
        </div>
      </div>
    </div>

    <div
            ns-popover
            ns-popover-timeout="0"
            ns-popover-template="course-popover"
            ns-popover-trigger="mouseover"
            ns-popover-placement="right|center"

            class="course-container" ng-class="{'highlighted': course.highlight}" ui-draggable="true" drag-channel="courses" on-drop-success="Plan.dropSuccessHandler($event,$index,course,Plan.courses)" drag="course;" ng-mouseover="Plan.setPopoverPos($event, 20)" ng-mousedown="hidePopover()" ng-repeat="course in Plan.sortedCourses">
      <span class="course-title">{{course.value}}</span>
      <span class="course-icon" ng-class="{'icon': !Plan.checkList[course.id], 'ion-grid': !Plan.checkList[course.id], 'checked': Plan.checkList[course.id]}"></span>
    </div>
  </div>
  <div class="selected" ng-class="{empty: !Plan.selected.length}" ui-on-Drop="Plan.onDrop($event,$data,Plan.selected)" drop-channel="courses">


    <div class="course-container" ng-repeat="course in Plan.selected track by $index">
      <span class="course-title">{{course.value}}</span>
      <span class="icon-trash" ng-click="Plan.clearSelected(course)"></span>
    </div>
  </div>



</div>